* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#parent-container {
    position: absolute;
    z-index: 10;
    height: 100vh;
    width: 100%;
    background-color: rgb(42, 42, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
    background: url('https://static.vecteezy.com/system/resources/previews/006/430/145/original/technology-background-concept-circuit-board-electronic-system-futuristic-hi-tech-light-on-dark-blue-free-vector.jpg') no-repeat center center/cover;
    /* display: none; */

}

.remove {
    opacity: 0;
    z-index: 1;
    /* display: none; */
}

#inner {
    position: absolute;
    z-index: 7;
    height: 300px;
    width: 300px;
    background-color: rgb(247, 249, 251);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* animation-name: animation2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: linear; */
    animation: animation2 8s infinite linear;
    overflow: hidden;
    /* box-shadow: 4px 4px 12px white; */

}

#parent-container button {
    position: relative;
    height: 340px;
    width: 340px;
    transition: all 1s;
    border: none;
    outline: none;
    border-radius: 50%;
    /* cursor: pointer; */

    text-align: center;
    z-index: 6;
    background-color: rgb(41, 61, 82);
    box-shadow: 4px 4px 18px white;

}

.button-animation {
    /* animation-name: animation1;as */
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes animation1 {
    0% {
        height: 300px;
        width: 300px;
    }

    50% {
        height: 320px;
        width: 320px;
    }

    100% {
        height: 300px;
        width: 300px;
    }

}

@keyframes animation2 {
    from {
        transform: rotateZ(0deg);
    }

    /* 50% {
        transform: rotateZ(180deg);
    } */

    to {
        transform: rotateZ(359deg);
    }
}

@keyframes animation3 {
    from {
        transform: rotateZ(0deg);
    }

    /* 50% {
        transform: rotateZ(180deg);
    } */

    to {
        transform: rotateZ(-359deg);
    }
}

#inner-most {
    height: 220px;
    width: 220px;
    background-color: rgb(41, 61, 82);
    border-radius: 50%;
    position: absolute;
    z-index: 8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.strips {
    position: absolute;
    z-index: 7;
    height: 350px;
    width: 40px;
    background-color: rgb(41, 61, 82);
    transition: all 0.5s;
    box-shadow: 4px 4px 12px rgb(24, 20, 20);

}

#inner-most-1 {
    height: 180px;
    width: 180px;
    background-color: rgb(251, 249, 249);
    background: url('https://img.freepik.com/premium-vector/blue-power-button-icon-illustrator-vector_34950-566.jpg') no-repeat center center/cover;
    border-radius: 50%;
    position: absolute;
    z-index: 8;
    box-shadow: 4px -4px 18px white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blue;
}

.strips:nth-child(1) {
    transform: rotateZ(45deg);
}

.strips:nth-child(2) {
    transform: rotateZ(-45deg);
}

.strips:nth-child(3) {
    transform: rotateZ(90deg);
}

#image-1 {
    position: absolute;
    z-index: 7;
    height: 200px;
    width: 200px;
    background: url('https://www.pngall.com/wp-content/uploads/13/Tech-PNG-Image-File.png')no-repeat center center/cover;
    top: 45px;
    left: 25px;
    animation: animation3 8s infinite linear;

}

#image-2 {
    position: absolute;
    z-index: 7;
    height: 200px;
    width: 200px;
    background: url('https://static.vecteezy.com/system/resources/previews/021/358/803/original/artificial-intelligence-icon-element-design-illustration-ai-technology-and-cyber-icon-element-futuristic-technology-service-and-communication-artificial-intelligence-concept-png.png')no-repeat center center/cover;
    top: 45px;
    right: 45px;
    /* animation: animation3 8s infinite linear; */

}

#image-3 {
    position: absolute;
    z-index: 7;
    height: 200px;
    width: 200px;
    background: url('https://i.pinimg.com/564x/72/97/83/729783c637e27580adac7bf76bf69533.jpg')no-repeat center center/cover;
    background: url('https://i.pinimg.com/564x/72/97/83/729783c637e27580adac7bf76bf69533.jpg')no-repeat center center/cover;
    bottom: 45px;
    right: 45px;
    /* animation: animation3 8s infinite linear; */

}

.container {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rebeccapurple;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 5;
    /* justify-content: center; */
}

.container h1 {
    font-size: 45px;
    margin-top: 25px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#textarea {
    background: none;
    border: 2px solid white;
    padding: 10px 25px;
    height: 50%;
    margin-top: 35px;
    border-radius: 35px;
    font-size: 17px;
    outline: none;
    box-shadow: 2px 2px 8px white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    pointer-events: none;
}

#start-first {
    height: 125px;
    width: 125px;
    margin-top: 28px;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
}